---
import { getImage } from 'astro:assets'
import type { Product } from '@types'
import { PRODUCT_IMAGE_SIZES } from '@constants'
import { isString } from '@utils/func'

type Props = {
  productName: string
  productImages: Product['images']
}

const { productName, productImages } = Astro.props

const processedImages = await Promise.all(
  productImages.map(async (src) => {
    if (isString(src)) {
      return { thumbSrc: src, fullSrc: src, fullSrcSet: undefined }
    }
    const [thumb, full] = await Promise.all([
      getImage({ src, width: 56, height: 56 }),
      getImage({
        src,
        widths: [400, 800, 1200],
        sizes: PRODUCT_IMAGE_SIZES,
        format: 'webp',
        quality: 80,
      }),
    ])
    return {
      thumbSrc: thumb.src,
      fullSrc: full.src,
      fullSrcSet: full.srcSet.attribute,
    }
  }),
)
---

{
  processedImages.length > 1 && (
    <ul class="flex gap-2 flex-wrap">
      {processedImages.map(({ thumbSrc, fullSrc, fullSrcSet }) => (
        <li>
          <button
            data-product-thumbnail
            data-image-src={fullSrc}
            data-image-srcset={fullSrcSet}
            data-image-sizes={PRODUCT_IMAGE_SIZES}
            class="
              size-14
              rounded
              cursor-pointer
              hover:border
              hover:border-black"
          >
            <img
              src={thumbSrc}
              alt={productName}
              class="size-full object-cover"
              width="56"
              height="56"
              loading="lazy"
            />
          </button>
        </li>
      ))}
    </ul>
  )
}

<script>
  document.addEventListener('astro:page-load', () => {
    const mainImage = document.getElementById(
      'product-main-image',
    ) as HTMLImageElement | null
    const thumbnails = document.querySelectorAll<HTMLButtonElement>(
      '[data-product-thumbnail]',
    )

    const warmCache = (thumb: HTMLButtonElement) => {
      const src = thumb.dataset.imageSrc
      if (!src) {
        return
      }
      const img = new Image()
      img.src = src
    }

    thumbnails.forEach((thumb) => {
      const onIntent = () => warmCache(thumb)
      thumb.addEventListener('mouseenter', onIntent, { once: true })
      thumb.addEventListener('focus', onIntent, { once: true })
      thumb.addEventListener('touchstart', onIntent, {
        once: true,
        passive: true,
      })

      thumb.addEventListener('click', async () => {
        const src = thumb.dataset.imageSrc
        if (!mainImage || !src) {
          return
        }

        const preloader = new Image()
        preloader.src = src
        await preloader.decode().catch(() => {})

        mainImage.removeAttribute('srcset')
        mainImage.removeAttribute('sizes')
        mainImage.src = src
      })
    })
  })
</script>
