---
import { getLang, getTranslations } from '@utils/i18'
import GalleryCarousel from '../ui/carousel/GalleryCarousel'
import YearToggle from './YearToggle.astro'
import { getImage, Image } from 'astro:assets'
import TtvnMeetup2026Img from '@assets/images/ttvn_meetup_2026_mobile.webp'
import TtvnMeetup2026ImgDesktop from '@assets/images/ttvn_meetup_2026_desktop.webp'
import TtvnMeetup2026ImgEn from '@assets/images/ttvn_meetup_2026_mobile_en.webp'
import TtvnMeetup2026ImgDesktopEn from '@assets/images/ttvn_meetup_2026_desktop_en.webp'
import { galleryImages } from '@data/carousel-images'
import EventLink from './EventLink.astro'
const lang = getLang(Astro.params)
const { eventsSection, tetevenClimb } = getTranslations(Astro.params)
const { seeEvent, text, meetup2026Alt } = eventsSection
const meetup2026MobileImage =
  lang === 'bg' ? TtvnMeetup2026Img : TtvnMeetup2026ImgEn
const meetup2026DesktopImage =
  lang === 'bg' ? TtvnMeetup2026ImgDesktop : TtvnMeetup2026ImgDesktopEn

const processedGalleryImages = await Promise.all(
  galleryImages.map((img) =>
    getImage({
      src: img,
      widths: [400, 800, 1200],
      format: 'webp',
      quality: 80,
    }),
  ),
)
const galleryImageUrls = processedGalleryImages.map((img) => img.src)
---

<section
  class="bg-gray-100 pt-8 pb-6 md:pb-8 lg:pt-15 px-5 md:px-15 xl:px-55 mb-10 xl:mb-20"
>
  <div
    class="mb-5 xl:mb-3 flex flex-col gap-5 lg:flex-row lg:gap-10 lg:items-center"
  >
    <h1
      id="events-section"
      class="nafta-brush text-[45px] md:text-[55px] lg:text-[80px] whitespace-nowrap lg:basis-1/3"
    >
      {tetevenClimb}
    </h1>
    <p class="px-6 text-lg/6 xl:text-xl md:pl-10 lg:p-0 lg:basis-2/3">
      {text}
    </p>
  </div>

  <div class="relative">
    <YearToggle />
    <div class="overflow-x-hidden flex items-start justify-center">
      <div
        data-year-panel="2026"
        class="w-full flex flex-col gap-6 md:gap-8 items-start"
      >
        <Image
          src={meetup2026MobileImage}
          alt={meetup2026Alt}
          class="bg-shimmer object-contain w-full lg:hidden"
        />
        <Image
          src={meetup2026DesktopImage}
          alt={meetup2026Alt}
          class="bg-shimmer object-contain w-full lg:block hidden"
        />
        <EventLink text={seeEvent} />
      </div>
      <div data-year-panel="2025" class="hidden w-full">
        <GalleryCarousel images={galleryImageUrls} client:idle />
      </div>
    </div>
  </div>
</section>
