---
import { getLang, getTranslations } from '@utils/i18'
import GalleryCarousel from '../ui/carousel/GalleryCarousel'
import YearToggle from './YearToggle.astro'
import { getImage, Image } from 'astro:assets'
import TtvnMeetup2026Img from '@assets/images/ttvn_meetup_2026.webp'
import { galleryImages } from '@data/carousel-images'
import EventLink from './EventLink.astro'
const { eventsSection } = getTranslations(Astro.params)
const { boldedTextOne, boldedTextTwo, normalTextOne, normalTextTwo, seeEvent } =
  eventsSection

const processedGalleryImages = await Promise.all(
  galleryImages.map((img) =>
    getImage({
      src: img,
      widths: [400, 800, 1200],
      format: 'webp',
      quality: 80,
    }),
  ),
)
const galleryImageUrls = processedGalleryImages.map((img) => img.src)
---

<section class="bg-gray-100 pt-15 pb-20 my-15 xl:my-22">
  <div
    class="mb-3
    xl:mb-5
    flex flex-col lg:flex-row align-center
    px-5 md:px-15 xl:px-55
    gap-5 lg:gap-8"
  >
    <img
      id="events-section"
      class="w-[456px] h-[100px] sm:self-start lg:self-center"
      src={`/titles/${getLang(Astro.params)}/teteven-climb.svg`}
      alt="Teteven Climb Title"
      loading="lazy"
    />
    <p class="text-base w-full font-normal leading-5">
      <span class="font-bold">{boldedTextOne}</span>
      {normalTextOne}
      <span class="font-bold">{boldedTextTwo}</span>
      {normalTextTwo}
    </p>
  </div>

  <div class="relative
px-10 md:px-15 xl:px-60">
    <YearToggle />
    <div class="overflow-x-hidden flex items-start justify-center">
      <div data-year-panel="2026" class="w-full">
        <div class="relative">
          <Image
            src={TtvnMeetup2026Img}
            alt="Тетевен Катери Vol. 2 - Катерачен Фестивал 2026"
            widths={[390, 600, 780, 1000]}
            sizes="(max-width: 767px) calc(100vw - 24px), (max-width: 1279px) calc(80vw - 24px), calc(68vw - 24px)"
            quality={65}
            class="object-contain
              w-full
              px-3
              md:max-h-[65%]"
          />
          <EventLink text={seeEvent} />
        </div>
      </div>
      <div data-year-panel="2025" class="hidden w-full">
        <GalleryCarousel images={galleryImageUrls} client:idle />
      </div>
    </div>
  </div>
</section>
