---
import { getLang, getTranslations } from '@utils/i18'
import { getCartCount } from '@utils/cart'
import { MobileMenu } from './MobileMenu'
import { MobileMenuButton } from './MobileMenuButton'
import LangSwitcher from './LangSwitcher.astro'
import CartButton from './CartButton'

const lang = getLang(Astro.params)
const { header } = getTranslations(Astro.params)
const { products, ourCause, tetevenClimb, aboutUs } = header
const cart = await Astro.session?.get('cart')
---

<header
  class="sticky top-0 z-50 w-full bg-black p-4 px-8 lg:px-12 border-b border-stone-200 transition-transform duration-300"
>
  <nav role="navigation" aria-label="Main navigation">
    <div class="flex items-center justify-between">
      <a class="flex items-center" href={`/${lang}/`}>
        <img class="size-8 lg:size-12" alt="Logo" src="/assets/logo.svg" />
      </a>
      <div class="hidden md:flex gap-8 xl:gap-[46px]">
        <a
          data-hash-link
          href={`/${lang}/#products`}
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {products}
        </a>
        <a
          data-hash-link
          href={`/${lang}/#our-cause`}
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {ourCause}
        </a>
        <a
          data-hash-link
          href={`/${lang}/#events-section`}
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {tetevenClimb}
        </a>
        <a
          data-hash-link
          href={`/${lang}/#about-us`}
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {aboutUs}
        </a>
      </div>
      <div class="flex items-center gap-3 lg:gap-4">
        <a
          href="https://www.facebook.com/profile.php?id=61574708947472"
          target="_blank"
        >
          <img class="size-5" alt="Facebook" src="/assets/facebook.svg" />
        </a>
        <a href="https://www.instagram.com/_cliffrise/" target="_blank">
          <img class="size-5" alt="Instagram" src="/assets/insta.svg" />
        </a>
        <div class="block">
          <CartButton client:load initialCartCount={getCartCount(cart)} />
        </div>
        <LangSwitcher />
      </div>
      <MobileMenuButton client:media="(max-width: 768px)" />
    </div>
    <MobileMenu
      menuItems={[
        { href: `/${lang}/#products`, title: products },
        { href: `/${lang}/#our-cause`, title: ourCause },
        { href: `/${lang}/#about-us`, title: aboutUs },
        { href: `/${lang}/#events-section`, title: tetevenClimb },
      ]}
      client:media="(max-width: 768px)"
    />
  </nav>
</header>

<script>
  document.addEventListener('click', (e) => {
    const link = (e.target as HTMLElement).closest<HTMLAnchorElement>(
      '[data-hash-link]',
    )
    if (link) {
      const hash = link.hash
      const langSwitcher = document.querySelector(
        '[data-lang-switcher]',
      ) as HTMLLinkElement
      const { lang } = langSwitcher.dataset
      const { nextLang } = langSwitcher.dataset
      if (lang && nextLang && langSwitcher) {
        langSwitcher.href = `/${nextLang}/${hash}`
      }
    }
  })
</script>
