---
import { getLang, getTranslations } from '@utils/i18'
import { getCartCount } from '@utils/cart'
import { MobileMenu } from './MobileMenu'
import { MobileMenuButton } from './MobileMenuButton'
import LangSwitcher from './LangSwitcher.astro'
import CartButton from './CartButton'

const lang = getLang(Astro.params)
const { header } = getTranslations(Astro.params)
const { products, mission, impact } = header
const cart = await Astro.session?.get('cart')
---

<header class="sticky top-0 z-50 w-full bg-black/95 p-4 lg:py-8">
  <nav role="navigation" aria-label="Main navigation">
    <div class="flex items-center justify-between">
      <a class="flex items-center gap-4 cursor-pointer" href={`/${lang}/`}>
        <img class="size-8 lg:size-12" alt="Logo" src="/assets/logo.svg" />
      </a>
      <div class="hidden md:flex gap-8 xl:gap-[46px]">
        <a
          data-hash-link
          href="#products"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {products}
        </a>
        <a
          data-hash-link
          href="#mission"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {mission}
        </a>
        <a
          data-hash-link
          href="#impact"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {impact}
        </a>
      </div>
      <div class="flex items-center gap-3 lg:gap-4">
        <a
          href="https://www.facebook.com/profile.php?id=61574708947472"
          target="_blank"
        >
          <img class="size-5" alt="Facebook" src="/assets/facebook.svg" />
        </a>
        <a href="https://www.instagram.com/_cliffrise/" target="_blank">
          <img class="size-5" alt="Instagram" src="/assets/insta.svg" />
        </a>
        <div class="block">
          <CartButton
            client:only="solid"
            title={header.cart}
            initialCartCount={getCartCount(cart)}
          />
        </div>
        <LangSwitcher />
      </div>
      <MobileMenuButton client:load />
    </div>
    <MobileMenu
      menuItems={[
        { href: '#products', title: products },
        { href: '#mission', title: mission },
        { href: '#impact', title: impact },
      ]}
      client:load
    />
  </nav>
</header>

<script>
  document.addEventListener('click', (e) => {
    const hashLink = (e.target as HTMLLinkElement)
      .closest('[data-hash-link]')
      ?.getAttribute('href')
    if (hashLink) {
      const langSwitcher = document.querySelector(
        '[data-lang-switcher]'
      ) as HTMLLinkElement
      const { lang } = langSwitcher.dataset
      const { nextLang } = langSwitcher.dataset
      if (lang && nextLang && langSwitcher) {
        langSwitcher.href = `${window.location.pathname.replace(lang, nextLang)}${hashLink}`
      }
    }
  })
</script>
