---
import { getLang, getTranslations } from '@utils/i18'
import { getCartCount } from '@utils/cart'
import { MobileMenu } from './MobileMenu'
import { MobileMenuButton } from './MobileMenuButton'
import LangSwitcher from './LangSwitcher.astro'
import CartButton from './CartButton'

const lang = getLang(Astro.params)
const { header } = getTranslations(Astro.params)
const { products, ourCause, tetevenClimb, aboutUs } = header
const cart = await Astro.session?.get('cart')
---

<header
  class="sticky top-0 z-50 w-full bg-black p-4 px-8 lg:px-12 border-b border-stone-200 transition-transform duration-300"
>
  <nav role="navigation" aria-label="Main navigation">
    <div class="flex items-center justify-between">
      <a class="flex items-center" href={`/${lang}/`}>
        <img class="size-8 lg:size-12" alt="Logo" src="/assets/logo.svg" />
      </a>
      <div class="hidden md:flex gap-8 xl:gap-[46px]">
        <a
          data-hash-link
          href="#products"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {products}
        </a>
        <a
          data-hash-link
          href="#our-cause"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {ourCause}
        </a>
        <a
          data-hash-link
          href="#events-section"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {tetevenClimb}
        </a>
        <a
          data-hash-link
          href="#about-us"
          class="font-normal text-white text-lg xl:text-xl whitespace-nowrap"
        >
          {aboutUs}
        </a>
      </div>
      <div class="flex items-center gap-3 lg:gap-4">
        <a
          href="https://www.facebook.com/profile.php?id=61574708947472"
          target="_blank"
        >
          <img class="size-5" alt="Facebook" src="/assets/facebook.svg" />
        </a>
        <a href="https://www.instagram.com/_cliffrise/" target="_blank">
          <img class="size-5" alt="Instagram" src="/assets/insta.svg" />
        </a>
        <div class="block">
          <CartButton
            client:only="solid"
            title={header.cart}
            initialCartCount={getCartCount(cart)}
          />
        </div>
        <LangSwitcher />
      </div>
      <MobileMenuButton client:load />
    </div>
    <MobileMenu
      menuItems={[
        { href: '#products', title: products },
        { href: '#our-cause', title: ourCause },
        { href: '#about-us', title: aboutUs },
        { href: '#events-section', title: tetevenClimb },
      ]}
      client:load
    />
  </nav>
</header>

<script>
  document.addEventListener('click', (e) => {
    const hashLink = (e.target as HTMLLinkElement)
      .closest('[data-hash-link]')
      ?.getAttribute('href')
    if (hashLink) {
      const langSwitcher = document.querySelector(
        '[data-lang-switcher]',
      ) as HTMLLinkElement
      const { lang } = langSwitcher.dataset
      const { nextLang } = langSwitcher.dataset
      if (lang && nextLang && langSwitcher) {
        langSwitcher.href = `${window.location.pathname.replace(lang, nextLang)}${hashLink}`
      }
    }
  })
</script>
