---
import { getLang } from '@utils/i18'

const langFromParams = getLang(Astro.params)
const lang = langFromParams === 'en' ? 'bg' : 'en'

const currentPath = Astro.url.pathname
const newPath = currentPath.replace(`/${langFromParams}/`, `/${lang}/`)
---

<a
  href={newPath}
  data-lang-switcher
  class="p-1 flex items-center text-white upppercase underline underline-offset-7"
  aria-label={`Switch to ${langFromParams === 'en' ? 'Bulgarian' : 'English'}`}
>
  <span class="text-[22px] md:text-xl font-medium uppercase">{lang}</span>
</a>
<script>
  const langSwitcher = document.querySelector<HTMLAnchorElement>(
    '[data-lang-switcher]',
  )

  if (langSwitcher) {
    const updateLanguageSwitcherHash = () => {
      langSwitcher.href = `${langSwitcher.pathname}${window.location.hash}`
    }

    updateLanguageSwitcherHash()
    window.addEventListener('hashchange', updateLanguageSwitcherHash)
  }
</script>
