---
import { getLang } from '@utils/i18'

const langFromParams = getLang(Astro.params)
const lang = langFromParams === 'en' ? 'bg' : 'en'

const currentPath = Astro.url.pathname
const newPath = currentPath.replace(`/${langFromParams}/`, `/${lang}/`)
---

<a
  href={newPath}
  data-lang-switcher
  data-next-lang={lang}
  data-lang={langFromParams}
  class="p-1 flex items-center text-white upppercase underline underline-offset-7"
  aria-label={`Switch to ${langFromParams === 'en' ? 'Bulgarian' : 'English'}`}
>
  <span class="text-[22px] md:text-xl font-medium uppercase">{lang}</span>
</a>
<script>
  const langSwitcher = document.querySelector<HTMLLinkElement>(
    '[data-lang-switcher]',
  )
  const { hash } = window.location

  if (langSwitcher && hash) {
    const nextLang = langSwitcher.dataset.nextLang ?? ''
    const currentLang = langSwitcher.dataset.lang ?? ''
    const pathname = window.location.pathname.replace(
      `/${currentLang}/`,
      `/${nextLang}/`,
    )
    langSwitcher.href = `${pathname}${hash}`
  }
</script>
