---
import { Globe } from '@lucide/astro'
const { lang } = Astro.params
const url = new URL(Astro.request.url)
console.log(url.hash, 'hash')
---

<a
  href={lang === 'en' ? '/bg' : '/en'}
  data-lang-switcher
  data-next-lang={lang === 'en' ? 'bg' : 'en'}
  data-lang={lang}
  class="p-2 rounded-lg transition-colors flex items-center space-x-1 border border-stone-200 dark:border-stone-600 text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-700"
  aria-label={`Switch to ${lang === 'en' ? 'Bulgarian' : 'English'}`}
>
  <Globe class="h-4 w-4" />
  <span class="text-sm font-medium uppercase">{lang}</span>
</a>
<script>
  let nextHref = ''
  document.addEventListener('astro:page-load', () => {
    const langSwitcher = document.querySelector(
      '[data-lang-switcher]'
    ) as HTMLLinkElement
    if (langSwitcher) {
      langSwitcher.href = nextHref
    }
  })
  document.addEventListener('click', (e) => {
    const langSwitcher = (e.target as HTMLLinkElement).closest(
      '[data-lang-switcher]'
    ) as HTMLLinkElement
    if (langSwitcher) {
      const { hash } = window.location
      if (hash) {
        e.preventDefault()
        const nextLang = langSwitcher.dataset.nextLang ?? ''
        const currentLang = langSwitcher.dataset.lang ?? ''

        const pathname = window.location.pathname.replace(currentLang, nextLang)
        nextHref = `${window.location.pathname}${hash}`
        history.pushState(null, '', `${pathname}${hash}`)
      }
    }
  })
</script>
