---
import { getLang, getTranslations } from '@utils/i18'

const { footer, theCause } = getTranslations(Astro.params)
const lang = getLang(Astro.params)
---

<footer
  id="footer"
  class="relative isolate h-[75vh] md:h-[50vh] landscape:h-[40vh]
  xl:h-[50vh] xl:landscape:h-[50vh]"
>
  <div
    id="contact-us"
    class:list={{
      'flex flex-col items-center justify-center h-2/6': true,
      'landscape:flex-row md:flex-row landscape:ml-10 landscape:md:ml-20 landscape:md:mt-20': true,
    }}
  >
    <span
      class="text-xl md:text-2xl xl:text-4xl mr-2 landscape:mb-0 text-center font-bold"
      >{footer.supportClimbing}</span
    >
    <h1
      class="nafta-brush text-[45px] md:text-[55px]
      lg:text-[65px] xl:text-[80px] mb-2 md:mb-0 md:mr-10
      leading-15 md:leading-20"
    >
      {theCause}
    </h1>
    <button
      data-open-contact-form-modal
      class="bg-black text-white px-4 py-2 lg:px-6 md:py-3 text-base md:text-lg lg:text-2xl cursor-pointer"
      >{footer.contactUs}</button
    >
  </div>
  <div
    class:list={{
      'bg-[url(/assets/mobile/footer.svg)] sm:bg-[url(/assets/footer.svg)] bg-no-repeat bg-cover': true,
      'w-full absolute h-4/6 bottom-0': true,
      'landscape:h-full': true,
      'flex items-end justify-end': true,
      '-z-1': true,
    }}
  >
    <div
      class="flex flex-col md:flex-row md:items-end landscape:flex-row
      justify-between w-full p-5 md:p-15 landscape:p-7 landscape:lg:p-10
      landscape:items-end items-start gap-1 text-lg landscape:text-sm
      xl:landscape:px-15"
    >
      <div class="flex flex-col">
        <a
          href={`/${lang}/terms-and-conditions/`}
          class="text-white order-1 landscape:order-0 md:text-lg p-0"
        >
          {footer.termsAndConditions}
        </a>
        <a
          href={`/${lang}/privacy-policy/`}
          class="text-white order-1 landscape:order-0 md:text-lg p-0"
        >
          {footer.privacyPolicy}
        </a>
        <a
          href={`/${lang}/gdpr/`}
          class="text-white order-1 landscape:order-0 md:text-lg uppercase mb-5 landscape:mb-0 md:mb-0 p-0"
        >
          {footer.gdpr}
        </a>
      </div>
      <div
        class="text-white order-1 landscape:order-0 text-sm md:text-lg xl:landscape:mr-25"
      >
        {footer.copyright}
      </div>
      <div class="gap-3 hidden xl:flex">
        <a
          href="https://www.facebook.com/profile.php?id=61574708947472"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="size-[25px]"
            alt={footer.facebook}
            src="/logos/facebook.svg"
          />
        </a>
        <a
          href="https://www.instagram.com/_cliffrise/"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="size-[25px]"
            alt={footer.instagram}
            src="/logos/insta.svg"
          />
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  let contactModalController: AbortController | null = null

  document.addEventListener('astro:page-load', () => {
    contactModalController?.abort()
    contactModalController = new AbortController()
    const { signal } = contactModalController

    const button = document.querySelector('[data-open-contact-form-modal]')
    const dialog =
      document.querySelector<HTMLDialogElement>('#contactFormModal')

    if (button && dialog) {
      button.addEventListener(
        'click',
        () => {
          dialog.showModal()
          document.body.classList.add('overflow-hidden')
        },
        { signal },
      )

      const handleClose = () => {
        document.body.classList.remove('overflow-hidden')
      }

      dialog.addEventListener('close', handleClose, { signal })
      dialog.addEventListener('cancel', handleClose, { signal })
    }
  })
</script>
