---
import { ClientRouter } from 'astro:transitions'
import { getTranslations } from '@utils/i18'
import Header from '../components/header/Header.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'
import { CartNotifications } from '../components/CartNotifications'
import '../styles/global.css'
import { Cart } from '../components/cart/Cart'
import Divider from '../components/ui/Divider.astro'
const { notification, cart } = getTranslations(Astro.params)
const cartFromSession = await Astro.session?.get('cart')
---

<!doctype html>
<html lang={Astro.params.lang} transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Cliffrise eshop | {Astro.props.title}</title>
    <script>
      document.documentElement.className =
        localStorage.getItem('cliffrise-theme') ?? 'light'
    </script>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <Cart translations={cart} client:load initialCart={cartFromSession} />
    <CartNotifications
      client:load
      addedToCart={notification.addedToCart}
      routeFunding={notification.routeFunding}
    />
    <Hero />
    <main>
      <slot />
    </main>
    <Divider />
    <Footer />
  </body>
</html>

<script>
  document.addEventListener('astro:page-load', () => {
    if (window.location.hash) {
      document.querySelector(window.location.hash)?.scrollIntoView()
    }
  })
</script>
