---
import SEO from '@components/SEO.astro'
import { ClientRouter } from 'astro:transitions'
import { getLang, getTranslations } from '@utils/i18'
import Header from '@components/header/Header.astro'
import Hero from '@components/Hero.astro'
import Footer from '@components/Footer.astro'
import { CartNotifications } from '@components/CartNotifications'
import { Cart } from '@components/cart/Cart'
import Divider from '@components/ui/Divider.astro'
import ContactUsModal from '@components/contactForm/ContactUsModal.astro'
import '../styles/global.css'

interface Props {
  title: string
  showHero?: boolean
}

const defaults = {
  name: 'CliffRise Shop',
  description:
    'CliffRise is a climbing brand supporting real work on the rock in Bulgaria - helping create new routes and maintain climbing areas for the community.',
  image: {
    src: new URL('/CR_Featured_Image.webp', Astro.site).href,
    alt: 'CliffRise Shop',
  },
} as const

const { showHero = true, title } = Astro.props
const { notification, cart } = getTranslations(Astro.params)
const lang = getLang(Astro.params)
const cartFromSession = await Astro.session?.get('cart')

Astro.response.headers.set('Cache-Control', 'no-store')
---

<!doctype html>
<html lang={Astro.params.lang} transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>CliffRise eshop | {title}</title>
    <SEO {...defaults} {title} />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9DXQP66G4"
    ></script>
    <script>
      ;(window as any).dataLayer = (window as any).dataLayer || []
      function gtag(...args: any[]) {
        ;(window as any).dataLayer.push(args)
      }
      gtag('js', new Date())

      gtag('config', 'G-D9DXQP66G4')
    </script>
    <ClientRouter />
  </head>
  <body class="[&:has([data-cart-dialog])]:overflow-hidden">
    <Header />
    <Cart
      lang={lang}
      text={{
        title: cart.title,
        empty: cart.empty,
        emptyDescBeforeProducts: cart.emptyDescBeforeProducts,
        emptyDescProductsLink: cart.emptyDescProductsLink,
        emptyDescAfterProducts: cart.emptyDescAfterProducts,
        total: cart.total,
        checkout: cart.checkout,
        routeFunding: cart.routeFunding,
      }}
      client:idle
      initialCart={cartFromSession}
    />
    <CartNotifications
      client:visible
      text={{
        addedToCart: notification.addedToCart,
        routeFunding: notification.routeFunding,
      }}
      lang={lang}
    />
    {showHero && <Hero />}
    <main>
      <slot />
    </main>
    <Divider />
    <Footer />
    <ContactUsModal />
  </body>
</html>

<script>
  window.addEventListener('pageshow', (event) => {
    const navigationEntry = performance.getEntriesByType('navigation')[0] as
      | PerformanceNavigationTiming
      | undefined

    if (event.persisted || navigationEntry?.type === 'back_forward') {
      window.location.reload()
    }
  })

  document.addEventListener('astro:page-load', () => {
    if (window.location.hash) {
      document.querySelector(window.location.hash)?.scrollIntoView()
    }
  })
</script>
